* {
  box-sizing: border-box;
}
header,
footer {
  height: 100px;
  border: 2px solid grey;
  clear: both;
  text-align: center;
}
.row1 {
  height: 175px;
  width: 33.33%;
  float: left;
  border: 2px solid gray;
  text-align: center;
}
.row2 {
  height: 200px;
  width: 50%;
  float: left;
  border: 2px solid gray;
  text-align: center;
}
